<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:sws="http://www.springframework.org/schema/web-services"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:task="http://www.springframework.org/schema/task"
        xsi:schemaLocation=
        "http://www.springframework.org/schema/beans

        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="ua.com.csltd"/>
  <!--  <import resource="classpath*:spring-ws-context.xml"/>-->

    <bean id="personWsTemplateTest" class="org.springframework.ws.client.core.WebServiceTemplate"
          p:defaultUri="http://localhost:8080/personService/"
          p:marshaller-ref="jaxbMarshaller"
          p:unmarshaller-ref="jaxbMarshaller">
    <property name="interceptors">
        <list>
            <ref local="wss4jSecurityInterceptor"/>
        </list>
    </property>
    </bean>

    <bean id="wss4jSecurityInterceptor"
          class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
        <property name="securementActions" value="UsernameToken"/>
        <property name="securementPasswordType" value="PasswordText"/>
        <property name="securementUsernameTokenElements" value="Nonce Created"/>
        <property name="securementUsername" value="123"/>
        <property name="securementPassword" value="password"/>
    </bean>

    <bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="packagesToScan" value="ua.com.csltd.beans"/>
    </bean>
    <!--<task:scheduler id="myScheduler" pool-size="10"/>
    <task:scheduled-tasks scheduler="myScheduler">
        <task:scheduled ref="marshallingPersonService" method="sleep" fixed-delay="1000"/>
        <task:scheduled ref="marshallingPersonService" method="sleep2" fixed-rate="1000"/>
    </task:scheduled-tasks>-->

    <bean id="b2jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="url" value="jdbc:oracle:thin:@//192.168.92.92:1521/UAT" />
        <property name="username" value="CREATOR" />
        <property name="password" value="c67" />
    </bean>

    <bean id="simpleJdbcCall" class="org.springframework.jdbc.core.simple.SimpleJdbcCall">
        <constructor-arg ref="dataSource"/>
    </bean>



</beans>

